.header{
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 39px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}

@media screen and (max-width:920px) {
  .header{
    padding-top: calc(28px + (45 - 28) * ( (100vw - 320px) / ( 920 - 320) ));
    padding-bottom: calc(31.6px + (41 - 31.6) * ( (100vw - 320px) / ( 920 - 320) ));
  }
}
