.auth-form__login {
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
}

.auth-form__login:hover{
    opacity: 0.6;
    transition: 0.5s;
}